@charset "UTF-8";
/* CSS Document */

/*reset.css*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}

body {
	width: 100%;
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
	font-family: 'Gotham';
	src: url(Gotham/Gotham-Light.otf) format("truetype");
	font-weight: 100;
}


@font-face {
	font-family: 'Gotham';
	src: url(Gotham/Gotham-Bold.otf) format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: 'Gotham';
	src: url(Gotham/Gotham-Medium.otf) format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: 'Gotham';
	src: url(Gotham/Gotham-Book.otf) format("truetype");
	font-weight: 300;
}



/* main css starts here */


body {
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: auto;

	font-size: 11pt;
	line-height: 1.8em;
	letter-spacing: 1px;
}

h1, .line {
	font-family: 'Gotham', sans-serif;
	font-weight: 300;
	font-size: 14pt;
	line-height: 21pt;
	margin-bottom: 4%;
	letter-spacing: 1px;
	color: #333;
}

p, .para {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 11pt;
	line-height: 1.8em;
	letter-spacing: 0.4px;
	color: #777;
	margin-bottom: 1.8em;
	font-size: 11pt;
}

.dividep {
	border-top: 2px dotted #ebebeb;
	padding-top: 12%;
}

b {
	font-weight: 700;
}


a, a:link, a:visited {
	text-decoration: none;
}

.callout {


	font-weight: 500;
	font-size: 16pt;
	color: #000;
	font-style: italic;
}

u {
	padding-top: 2%;
}


#projectheader, #thisheader{
	z-index: 1;
	position: fixed;
	background-color: #fff;
	width: 100%;
	top: 0;
	height: 70px;
	border-bottom: 2px solid #fafafa;
    transition: top 0.1s ease-in-out;
    opacity: .9;
}

#projectheader ul, #thisheader ul {
	margin: 0 1%;
}

#navhome {
	margin-top: none;
	padding-top: 10px;
	padding-left: 10px;
	float: left;

}

#navhome2 {
	float: left;
	font-weight: 500;
	margin-left: 0;
	font-family: 'Gotham', sans-serif;
	display: inline;
	margin: 0 3%;
}

.nav {
	padding-top: 22px;
	float: right;
	font-family: 'Gotham', sans-serif;
	font-weight: 300;
	display: inline;
	margin: 0 3%;
}

.nav-up {
	margin-top: -72px;
}

#mobile {
	display: none;
}

#projectheader ul li a, #thisheader ul li a {
	color: #777;
}

#projectheader ul li a:hover, #thisheader ul li a:hover {
	transition: .2s;
	color: #000;
}

.over {
	opacity: 1;
	position: absolute;
}

.over:hover {
	transition: .1s ease-in-out;
	opacity: 0;
}

#nav ul a{
	font-size: 1.1em;
	padding-bottom: 4%;
	color: #000;
}

.button {
	font-family: 'Gotham', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 11pt;
	background-color: #78ceb1;
	color: #FFFFFF;
	padding: 20px;
	border-radius: 40px;
	text-align: center;
}

.button:hover {
	opacity: .9;
	transition: .2s;
}

#blog {
	border: 2px solid #78ceb1;
	background-color: transparent;
	color: #78ceb1;
}

#blog:hover {
	background-color: #78ceb1;
	color: #fff;
}

::selection {
  background: #78ceb1;
  color: #fff;
}

footer {
	background-color: #ffffff;
	border-top: 2px solid #ebebeb;
	padding: 1% 22%;
	font-family: 'Gotham', sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 1vw;
	color: #999;
}

/* INTRO */


#intro {

	background-color: #ffffff;
	min-height: 400px;
	margin: 0 auto; 
    position: relative; 
    background-size: 100%;
}

#intromain {
	text-align: center;
	padding: 12% 30%;

}

#intromain h1 {
	font-size: 20pt;
	line-height: 30pt;
	font-weight: 100;
	letter-spacing: 2px;
}

#intromain p {
	font-family: 'Gotham', sans-serif;
	font-size: 11pt;
	letter-spacing: 1px;
	font-weight: 300;
}

#intromain b {
	font-weight: 500;
}


#aboutme {

	color: #333;
	padding: 10% 40% 10% 14%;

	min-height: 200px;
	margin: 0 0;
	position: relative;
	background-color: #ffffff;
}

#aboutme h1{
	padding-top: 10%;
}

#aboutme p {
	margin-top: 6%;
}

#aboutme p a{
	color: #000;
	font-weight: 500;

}

#aboutme a img {
	opacity: .5;
}

#aboutme a img:hover {
	opacity: 1;
}



/*TITLE BACKGROUNDS*/

.project {
	width: 100%;
	display: block;
	position: relative;
	height: 440px;
	top: 0;
	margin: 0 auto;
}



#overlayimg, .overlayimg, #overlayimg2, #overlayimg3, #overlayimg4, #overlayimg5, #overlayimg6 {
	right: 0;
	text-align: right;
	position: absolute;
	margin-top: 0;
	z-index: 1;
	height: 100%;
	transition: .3s ease-in-out;
	opacity: 0;
}

.phone {
	margin-right: 14%;
}

.project-text {
	width: 72%;
	position: absolute;
	z-index: 2;
	text-align: left;
	margin: 120px 14%;

}

.project-text1{
	width: 72%;
	position: absolute;
	z-index: 2;
	text-align: left;
	margin: 120px 14%;
	font-weight: 500;
	color: #333;
	letter-spacing: 2px;
	padding: none;
	margin-bottom: 60px;
	color: #000;
}

.project-text h1 {
	font-weight: 500;
	color: #333;
	letter-spacing: 2px;
}


.project-text p {
	padding: none;
	margin-bottom: 60px;
}

.project-text h1 a {
	color: #000;
}

#pet {
	background-color: #f6f6f6;
	background-size: 100%;
	min-height: 200px;
	margin: 0 auto; 
    position: relative; 
}


#friendme {
	background-color: #f1f2f2;
	min-height: 200px;
	background-size: 100%;
	margin: 0 auto; 
    position: relative; 
}

#buffalo {
	background-color: #efddcf;
	min-height: 200px;
	margin: 0 auto; 
    position: relative; 
}

#mini {
	background-color: #dcd5cb;
	min-height: 200px;
	margin: 0 auto; 
    position: relative; 
}

#other {
	background-color: #f1f2f2;
	min-height: 200px;
	margin: 0 auto; 
    position: relative; 
}

/*buttons*/

#intromain .button, #aboutme .button {
	background-color: #fafafa;
	border: 2px solid #78ceb1;
	color: #78ceb1;
}


#intromain .button:hover, #aboutme .button:hover {
	background-color: #78ceb1;
	color: #fff;
}
#kitchen .button {
	background-color: #FF5490;
}

#kitchen .button:hover {
	background-color: #F26F9D;
}

#apet .button {
	background-color: #2117DC;
}

#apet .button:hover {
	background-color: #544BF4;
}

#pet .button {
	background-color: #0EE8EF;
}

#pet .button:hover {
	background-color: #23C1D8;
}

#rga .button {
	background-color: #EBCB4B;
}

#rga .button:hover {
	background-color: #D4B63F;
}

#other .button {
	background-color: #4386fc;
}


#friendme .button {
	background-color: #27A07C;
}

#friendme .button:hover {
	background-color: #067655;
}

#buffalo .button {
	background-color: #c47733;
}

#mini .button {
	background-color: #e94440;
}

#mini .button:hover {
	background-color: #CC2D29;
}


/* WORK CONTENT TEMPLATE */

#kitchenheader {
	background-color: #f3f8f7;
	min-height: 300px;
	position: relative;
	margin: 0 auto;
	color: #000;
	background-repeat: no-repeat;
}

#apetheader {
	background: url(images/header/apetheader.png) fixed no-repeat; 
	top: 0;
	background-size: 100%;
	min-height: 300px;
	position: relative;
	margin: 0 auto;
	color: #000;
	background-repeat: no-repeat;
}

#friendmeheader {
	background: url(images/header/title_binspace-01.png) fixed;
	min-height: 300px;
	position: relative;
	margin: 0 auto;
	color: #000;
	background-size: 100%;
	background-repeat: no-repeat;
}

#petheader {
	background: url(images/header/metafitheader.png) fixed no-repeat; 
	background-size: 100%;
	min-height: 300px;
	position: relative;
	margin: 0 auto;
	color: #000;
	background-size: 100%;
	background-repeat: no-repeat;
}

#rgaheader {
	background: url(images/header/title_rga.png) fixed no-repeat; 
	background-size: 100%;
	min-height: 300px;
	position: relative;
	margin: 0 auto;
	color: #000;
	background-size: 100%;
	background-repeat: no-repeat;
}

#otherheader {
	background: url(images/header/otherheader.png) fixed no-repeat; 
	background-size: 100%;
	min-height: 580px;
	position: relative;
	margin: 0 auto;
	color: #000;
	background-size: 100%;
	background-repeat: no-repeat;
}


#video {
	width: 60%;
	padding: 6% 20%;
}

a.active, .projectcontent a, .projectcontent a:visited {
	color: #78ceb1;
}

.projectheader {
	padding: 0 32%;
	margin-top: 70px;
	padding-top: 130px;
	width: 36%;
	text-align: center;
}

.projectheader h1 {
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 16pt;
}

.projectcontent img {
	width: 56%;
	padding: 4% 22%;
	text-align: center;
}

#projectfullimg {
	padding: 0;
	width: 100%;
}



.sections h1, .sections p {
	width: 56%;
	padding: 0 22%;
}

.sections .callout {
	width: 44%;
	padding: 1% 28%;
}

.feature {
	background-color: #fff;
	display: inline-block;
}

.feature div {
	vertical-align: top;
	width: 30%;
	padding-right: 14%;
	text-align: left;
	display: inline-block;
	margin-top: 10%;
}

#featureimg {
	margin: 0;
	padding: 0;
	width: 24%;
	padding-left: 20%;
	display: inline-block;
	margin: 4% auto;
	padding-right: 4%;
}

.featurevid {
	width: 30%;
	padding-left: 17%;
	display: inline-block;
	margin: 4% auto;
}




.sections h1 {
	text-align: center;
}

.overview {
	padding-top: 6%;
	padding-bottom: 4%;
	padding-right: 22%;
	padding-left: 22%;
	display: inline-block;
}

.projectinfo {
	display: inline-block;
	width: 30%;
	float: left;
	vertical-align: top;
	
}

.projectinfo h1 {
	padding-top: 2%;
	border-bottom: dotted #CCC 1px;
	font-size: 9pt;
	font-weight: 500;
	color: #ccc;
}

.projectintro {
	float: right;
	display: inline-block;
	width: 66%;
}

.white, .grey, .black {
	width: 100%;
	padding: 4% 0;
}

.white {
	background-color: #fff;
}

.grey {
	background-color: #f2f2f2;
}

.black {
	color: #fff;
	background-color: #000;
}

@media (max-width: 1080px) {
#overlayimg, .overlayimg, #overlayimg2, #overlayimg3, #overlayimg4, #overlayimg5, #overlayimg6 {
		z-index: -1;
}

#intromain {
	padding: 12% 30%;
}


#video {
	width: 72%;
	padding: 6% 14%;
}

.projectheader {
	padding: 0 22%;
	margin-top: 70px;
	padding-top: 100px;
	width: 56%;
}

.projectcontent img {
	width: 72%;
	padding: 4% 14%;
}

.sections h1, .sections p {
	width: 72%;
	padding: 0 14%;
}

.sections .callout {
	width: 56%;
	padding: 1% 22%;
}

.feature {
	background-color: #fff;
	display: inline;
}

.feature div {
	width: 30%;
	padding-right: 14%;
	margin-top: 14%;
}

#featureimg {
	width: 40%;
	padding-left: 10%;
	margin: 4% auto;
}

.featurevid {
	width: 40%;
	padding-left: 10%;
	margin: 4% auto;
}


.overview {
	padding-top: 6%;
	padding-bottom: 4%;
	padding-right: 14%;
	padding-left: 14%;
}

footer {
	padding: 1% 14%;
}

#kitchenheader {
	min-height: 240px;
}

#apetheader, #friendmeheader, #petheader, #rgaheader{
	min-height: 240px;
	background-attachment: scroll; 
}



}

@media (max-width: 800px) {

	h1 {
		font-size: 12pt;
	}

	p {
		font-size: 10pt;
	}
  	.project {
  		height: 300px;
  	}

  	.project-text1{
  		text-align: center;
  		margin: 60px 14%;

  	}

  	.project-text {
		text-align: center;
		margin: 60px 14%;
	}

	#overlayimg, .overlayimg, #overlayimg2, #overlayimg3, #overlayimg4, #overlayimg5, #overlayimg6 {
		z-index: -1;
		text-align: right;
	}

	#intromain {
		min-height: 200px;
	}

	#intromain {
		padding: 16% 10%;
	}

	#intromain h1 {
		font-size: 16pt;
		line-height: 24pt;
	}

	#intromain p {
		font-size: 10pt;
	}

	#aboutme {
		padding: 20% 10%;
	}

	#aboutme p {
		text-align: left;
	}

	#profilepic {
		width: 25%;
	}

	#video {
		width: 80%;
		padding: 8% 10%;
	}




	.projectheader {
		padding: 0 0;
		margin-top: 70px;
		padding-top: 80px;
		width: 100%;
	}

	.projectcontent img {
		width: 100%;
		padding: 4% 0;
	}

	.sections h1, .sections p {
		width: 80%;
		padding: 2% 10%;
	}

	.line, .para {
		padding-top: 10%;
	}

	.feature {
		background-color: #fff;
	}

	.feature div {
		width: 80%;
		padding: 0 10%;
		margin-top: 0;
		padding-bottom: 10%;
		display: block;
		float: none;
	}

	#featureimg {
		width: 80%;
		padding: 0 10%;
		margin: 4% auto;
		display: block;
		float: none;
	}

	.featurevid {
		width: 80%;
		padding: 0 10%;
		margin: 4% auto;
		display: block;
		float: none;
	}


	.overview {
		width: 80%;
		margin: 0;
		padding: 2% 10%;
		display: block;
	}

	.projectinfo {
		float: none;
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.projectintro {
		float: none;
		display: block;
		width: 100%;
		padding: 10% 0;
	}

	footer {
		padding: 1%;
		font-size: 1.4vw;
	}

	.button {
		font-size: 10pt;
		padding: 16px;
		border-radius: 30px;
	}


	.projectheader h1 {
		font-size: 12pt;
	}

	.white, .grey, .black {
		padding-top: 10%;
	}

	#web {
		display: none;
	}
	#mobile {
		display: inline-block;
	}

	#kitchenheader, #apetheader, #friendmeheader, #petheader, #rgaheader{
		min-height: 180px;
	}

	#navhome {
		padding-left: 10px;
	}

}
